.numeric_input {
  background: transparent;
  color: #00d1ff;
  outline: none;
  border: 1px solid #00d1ff;
  border-radius: 5px;
  box-shadow: #00d1ff 0px 0px 10px;
  font-weight: bold;
  font-size: 24px;
  width: 200px;
  padding: 16px;
}
